<base-modal modalTitle="Register" *ngIf="isOpen()">
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()" class="flex flex-col gap-5 w-full">
        <text-input placeholder="Username" formControlName="username"/>
        <text-input placeholder="Password" formControlName="password"/>
        <text-input placeholder="Repeat Password" formControlName="repeat_password"/>
        <text-input placeholder="Email" formControlName="email"/>

        <div>
            <app-button [text]="'Cancel'" [variant]="'secondary'" (onClick)="cancel()" type="button"/>
            <app-button [text]="'Register'" type="submit"/>
        </div>
    </form>
</base-modal>