<app-divisor>
    <div class=" w-2/3 gap-3 flex-col flex text-center">
        <mid-title>Tired of searching for hours to find a technique?</mid-title>
        <mid-text>Dont suffer more!, Welcome to Wikicombat, you can find the technique you want in just seconds
            no login, no register, just find the technique you was looking for!
        </mid-text>
        <app-button 
            [text]="'Start Searching'"
            (onClick)="start_searching()"
        ></app-button>
    </div>
</app-divisor>